{% extends layout %}

{% block body_class %}impress-not-supported{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/easyimpress/css/main.css') }}" rel="stylesheet">
    <style type="text/css">
        .step.future, .step.past { opacity: {{ presentation.inactiveOpacity }}; }
    </style>
{% endblock %}

{% block easy_impress_presentation %}

    {% spaceless %}

    <div id="impress"
        {%- for key, value in presentation.data if value is not empty %} data-{{ key }}="{{ value }}"{%- endfor -%}
        {%- for key, value in presentation.attr if value is not empty %} {{ key }}="{{ value }}"{% endfor -%}
    >
        {%- for slide in presentation.slides -%}
            <div id="{{ slide.id }}"
                {%- for key, value in slide.data if value is not empty %} data-{{ key }}="{{ value }}"{%- endfor -%}
                {%- for key, value in slide.attr if value is not empty %} {{ key }}="{{ value | raw }}"{% endfor -%}
            >
                {{- (slide.content|default('&nbsp;'))|raw -}}
            </div>

        {%- endfor -%}

    </div><!-- /#impress -->

    <div class="site-wrapper" id="wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div id="content">
                    {%- block content -%}
                        {%- if (presentation.slides | length) > 1 -%}
                            <div id="arrow_clickable">
                                <div id="left_arrow_clickable"></div>
                                <div id="right_arrow_clickable"></div>
                            </div>
                            <div id="arrow_container">
                                <div id="left_arrow"><span class="glyphicon glyphicon-chevron-left"></span></div>
                                <div id="right_arrow"><span class="glyphicon glyphicon-chevron-right"></span></div>
                            </div>
                        {%- endif -%}
                    {%- endblock -%}
                </div>

                <footer class="mastfoot" id="footer">
                    <p>
                        <small>
                            Pierstoval &ndash; {{ 'now' | date('Y') }}
                        </small>
                    </p>
                </footer>

            </div>
        </div>
    </div>

    {%- endspaceless -%}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/easyimpress/js/impress.js') }}"></script>
    <script src="{{ asset('bundles/easyimpress/js/main_impress.js') }}" type="text/javascript"></script>
{% endblock %}
